.Nav {
    width: 100%;
    max-width: 120rem;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    padding-right: 5rem;
    padding-left: 5rem;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.Nav a {
    text-decoration: none;
}

.Nav h3 {
    font-size: 35px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
    background: var(--Gradient, linear-gradient(100deg,  var(--text-secundario) 37.82%, var(--text-terciario) 87.12%));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Nav ul {
    display: flex;
    list-style: none;
    margin-left: 10%;
}

.Nav ul li {
    font-size: 22px;
    margin-left: 3em;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text-negro);
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.Nav ul li:hover{
    color: var(--text-terciario);
}
    

.Idioma {
    margin-left: 3%;
    
}

.Empezar {
    margin-left: 8%;
}